.MainBackGround {
    display: none;
    width: 100%;
    height: 79vh;
    background-position: center;
    background-size: 110vw;
    background-repeat: no-repeat;
    &__Msg {
        white-space: pre;
        transform: translateX(70px) translateY(calc(79vh - 250px));
        font-size: 50px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: left;
        color: #ffffff;
    }
    &--before,
    &--select {
        position: absolute;
        top: 0;
        display: inline-block;
    }
    &--before {
        float: left;
        z-index: 0;
        animation: backgroundBeforeAnimation 0.75s;
    }
    &--select {
        float: right;
        z-index: 1;
        animation: backgroundSelectAnimation 0.75s;
    }
}

@keyframes backgroundBeforeAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes backgroundSelectAnimation {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1660px) {
    .MainBackGround {
        background-size: 120vw 100%;
    }
}

@media (max-width: 1460px) {
    .MainBackGround {
        background-size: 140vw 100%;
    }
}

@media (max-width: 1100px) {
    .MainBackGround {
        background-size: 1600px 100%;
        background-position: 70% center;
    }
}

@media (max-width: 600px) {
    .MainBackGround {
        background-size: 1200px 100%;
        background-position: 70% center;
    }
}